.main{
    background-color:#dfd5ed;
    height:90%
}


.title-row{
    display:flex;
    flex-direction: row;
    padding:10px;
    height:20%
}

.note-title{
    position:relative;
}

.body-row{
    height:70%;
}


.body-bottom-row{
    display:flex;
    flex-direction: row;
    margin:0px 15px;
    flex-grow:1;
    height: 10%;
}


.body-bottom-col1{
    display:flex;
    flex-direction: column;
    width:50%;
    flex-grow:1;
    align-items:flex-start;
    padding:15px 0px;

}

.body-bottom-col2{
    display:flex;
    flex-direction: column;
    width:50%;
    flex-grow:1;
    align-items:flex-end;
    padding:0px 10px;

}


.page-button{
    height:50%;
    margin:5px
}