.main{
    background-color:#dfd5ed;
    height:90%
}


.title-row{
    display:flex;
    flex-direction: row;
    padding:10px;
    height:20%
}

.note-title{
    position:relative;
}

.note-display-body-row{
    height:70%;
    background-color:blue
}


.note-display-bottom-row{
    display:flex;
    flex-direction: row;
    margin:0px 15px;
    flex-grow:1;
    height: 10%;
    justify-content: center;
}

.page-button{
    width:50%;
    
}