.footer{
    text-align:center;
    background-color:#fefefe;
    height:5%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 500;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}